node_modules
.cache
out
dist
dist-electron
resources/MenuBarHelper
android/.gradle
android/.gradle-home
android/local.properties
android/build
android/app/build
android/app/src/main/assets/renderer
.DS_Store
*.log
*.sqlite
*.sqlite3
